<!-- turner.html -->

{% extends 'base.html' %}

{% block content %}

{% load static %}


<style>

:root{
    --primary:#0d6efd;
}

/* Banner */
.trade-banner{
    width:100%;
    height:450px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

/* Heading */
.trade-heading{
    font-size:3rem;
    font-weight:800;
    background:linear-gradient(45deg,#0d6efd,#4da3ff);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.trade-subtitle{
    color:#6c757d;
    font-size:1.1rem;
}

/* Section */
.chapter-section{
    background:#f8f9fa;
    border-radius:20px;
    padding:40px 20px;
}

/* Cards */
.chapter-card{
    border:none;
    border-radius:20px;
    overflow:hidden;
    transition:all .4s ease;
    background:#fff;
}

.chapter-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(13,110,253,.25);
}

.chapter-card .card-body{
    padding:30px 20px;
}

.chapter-icon{
    width:80px;
    height:80px;
    margin:auto;
    margin-bottom:15px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgba(13,110,253,.1);
    font-size:36px;
}

.chapter-card h4{
    font-weight:700;
}

.chapter-card p{
    color:#6c757d;
}

/* Button */
.start-btn{
    border-radius:50px;
    padding:10px;
    font-weight:600;
    transition:.3s;
}

.start-btn:hover{
    transform:scale(1.05);
}

/* Mobile */
@media(max-width:576px){

    .trade-banner{
        height:180px;
    }

    .trade-heading{
        font-size:2rem;
    }

    .chapter-icon{
        width:65px;
        height:65px;
        font-size:28px;
    }
}



.trade-banner{
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

.chapter-card{
    transition: 0.3s;
    border-radius: 15px;
}

.chapter-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

</style>

<div class="container mt-4">

    <img src="{% static 'images/employee.png' %}"
         class="trade-banner">

</div>

<section class="py-5 text-center">

    <div class="container">

        <h1 class="fw-bold ">
            Employability Mock Test
        </h1>

        <p class="lead">
            Practice chapter-wise ITI Employability MCQs online.
        </p>

    </div>

</section>

<section class="pb-5">

<div class="container">

<div class="row g-4">

    <div class="col-md-4">

        <div class="card chapter-card h-100 shadow">

            <div class="card-body text-center">

                <h4 class="fw-bold">Employability PYQ Set 1</h4>

                <p>Practice ITI Employability Previous Year Questions.</p>

                <a href="{% url 'employee_cbt'%}" class="btn btn-primary w-100 text-white">
                    Start Test
                </a>

            </div>

        </div>

    </div>



</div>

</div>

</section>

{% endblock %}